{% extends 'office/office_base.html' %}
{% block office_content %}
    <h1>Assistant Project Manager</h1>
    <ul>
        {% for apm in apms %}
            <h3><li><a href="{{ apm.id }}">{{ apm.first_name }} {{ apm.last_name }}</a></li></h3>
        {% endfor %}


    </ul>
    <hr>
        <p><a class="btn btn-primary" href="{% url 'office:office_index' %}">Go Back</a></p>
        {% if user.is_superuser %}
            <p><a class="btn btn-success" href="{% url 'office:apm_create' %}">Create New</a></p>

        {% endif %}
{% endblock %}
